{% extends 'base.html.twig'%}

{% block stylesheets %}

  <style>
    .mad{
      position: relative;
      flex-shrink: 0;
      display: flex;
      flex-direction: column;
      width: 270px;
      padding: 0 15px 0 0;
    }

    .cssbad{
      flex-grow: 1;
      display:flex;
      transition: linear .3s;
      display: flex;
      flex-wrap: nowrap;
      align-content: flex-start;
      justify-content: flex-start;
      overflow-x: auto;
      overflow-y: hidden;
    }

    /*assolutamente NON copiato da clickup*/
  </style>

{% endblock %}

{% block javascripts %}

  <script>

  </script>

{% endblock %}

{% block body %}
    <div id="wrapper">
        {{ include('robaDaIncludere/sidebar.html.twig') }}

        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">
                <div class="container-fluid ">
                    <div class="row">
                        <!-- Area Calendario -->
                        <div class="col-12 p-0 pt-2">
                          <h3 class="mt-2 bees" >Your Events:</h3>
                          <div class="cssbad">
                          {% set trentaeuro = 1 %}
                          {% for priorita in eventi %}



                          <div class="mad">
                            <div class="card shadow">
                              <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold bees">Prio{{ trentaeuro }}</h6>
                              </div>
                              <div class="card-body">
                                Eventi di prio {{ trentaeuro }} sotto
                              </div>
                            </div>


                            {% for evento in priorita %}
                              <div class="card shadow">
                                <div class="card-header py-3">
                                  <h6 class="m-0 font-weight-bold bees">{{ evento.titolo }}</h6>
                                </div>
                                <div class="card-body">
                                  WIP
                                </div>
                              </div>
                            {% endfor %}
                          </div>

                          {% set trentaeuro = trentaeuro + 1 %}

                          {% else %}
                          <p>Fun fact: bees are NOT lazy, they always have something to do. What about you?</p>
                          {% endfor %}

                          </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
